.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.big-text {
  font-size: 40px;
}

.dark-mode {
  background-color: darkslateblue;
  color: white;
}

.small-img {
  width: 300px;
}

.green-border {
  border: green 2px solid;
}

.box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.section-heading {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}
